.button {
  background: #F7C901;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: black;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  opacity: 0.9;
  cursor: pointer;
}
.hero {
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  margin-top: 0.75rem;
}
.primary {
  background: #fff000;
  color: black;
}
.secondary {
  background: #565757;
  color: white;
}
.small {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
.medium {
  font-size: 1rem;
  padding: 1rem 2rem;
}
.large {
  font-size: 2rem;
  padding: 2rem 4rem;
}
.buttonBlock {
  display: block;
  width: 100%;
}
.button:hover {
  opacity: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.button:focus {
  outline: none;
}
