.cardsSection {
  color: #111;
  text-align: center;
  background: url('../img/weather.png');
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.cardsSection h1, .cardsSection p {
  color: #111;
}

.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.cardWrapper {
  height: 100%;
  background-color: rgba(250,250,250,0.5);
  padding: 1rem;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
