.card {
  display: grid;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;

  justify-self: center;
  align-self: flex-start;

  text-align: center;

  grid-auto-flow: row;

  grid-gap: 1rem;

  color: #111;
}
.card .cardIcon {
  width: auto;
  height: 100px;
}
.card .cardDetails {
  display: grid;
  grid-gap: 1rem;
}

.card .cardDetails .cardLine {
  border-width: 0px;
  height: 5px;
  width: 80%;
  background: #fff000;
  margin: 0 auto;
}
