.caseStudySection {
  background-color: #21529E;
}
.caseStudy {
  overflow: hidden;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.caseStudyImage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
}
.caseOne {
  background: url('../img/cs_storm.jpg') no-repeat center/cover;
}
.caseTwo {
  background: url('../img/cs_umbrellas.jpg') no-repeat center/cover;
}
.caseThree {
  background: url('../img/cs_hurricane.jpg') no-repeat center/cover;
}

.caseStudy:hover .caseStudyImage,
.caseStudy:focus .caseStudyImage {
  cursor: pointer;
  transform: scale(1.05);
  cursor: pointer;
}
.caseStudy:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.caseStudies {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.caseStudyLink {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  color: #fff;
  overflow-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  color: #fff;
}

.csHeading {
  color: rgb(245,245,245);
  position: relative;
}

.magicalLine {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}

.magicalLineBlue {
  background-image: linear-gradient(
    to right,
    #00ECDB 0%,
    #40CCFF 51%,
    #00DEF6 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}

.magicalLineDarkBlue {
  background-image: linear-gradient(
    to right,
    rgb(5, 138, 199) 0%,
    #315CB3 51%,
    rgb(12, 124, 189) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}

.caseStudy:hover .magicalLine {
  background-size: 100% 88%;
}
.caseStudy:hover .magicalLineDarkBlue {
  background-size: 100% 88%;
}

@media (max-width: 1024px) {
  .caseStudies {
    grid-template-columns: repeat(1, 1fr);
  }
}
